<!doctype html>
<html th:replace="~{base :: layout(title=~{::title}, content=~{::div#content}, scripts=_)}" lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Sample UI - Error</title>
  </head>
  <body>
    <div id="content">
      <header class="container">
        <div class="headings" style="text-align: center;">
          <h1>Something went wrong</h1>
          <h2>Go back to the <a th:href="@{/sample-ui}">homepage</a></h2>
        </div>
      </header>
    </div>
  </body>
</html>