<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>Sample - Result</title>
</head>

<body>
    <main role="main">
        <h1>Verification Result</h1>
        <br>
        <span th:if="${message}">[[${message}]]</span>
    </main>
</body>
</html>