# format https://<DR>.api.tru.id where 'DR' is the data residency of your tru.ID account 
# for example, if your account was created on EU:
#
# TRU_API_BASE_URL=https://eu.api.tru.id
# 
TRU_API_BASE_URL=

# you can create a project and some credentials on tru.ID UI console or programmatically, see: 
# 
# create a project: https://developer.tru.id/docs/reference/api#operation/post-console-v0.2-workspace-projects
# create project credential: https://developer.tru.id/docs/reference/api#operation/post-console-v0.2-workspace-project-credential
#
TRU_CLIENT_ID=
TRU_CLIENT_SECRET=
TRU_OIDC_CLIENT_ID=
TRU_OIDC_CLIENT_SECRET=

# companion app public URL where you will receive phone verification callbacks from tru.ID
# you can also use ngrok if you are testing locally, for example:
#
# # NOTE: 8082 is the companion app default port
# $ ngrok http 8082
#
SAMPLE_PUBLIC_URL=

# type of user resolver this bridge should use
# e.g. OKTA, AUTH0, etc.
SAMPLE_RESOLVER_TYPE=OKTA

# used to query Okta /users API so we can verify the phone number of the user
# that is signing in
SAMPLE_OKTA_API_KEY=

# your okta platform domain
SAMPLE_OKTA_DOMAIN=

#############################
# sample-ui configuration   #
#############################

# Okta Application Client Credentials
SAMPLE_UI_IAM_CLIENT_ID=
SAMPLE_UI_IAM_CLIENT_SECRET=

# sample-ui uses these to do the OIDC flow
SAMPLE_UI_IAM_AUTHORIZATION_URI=https://${SAMPLE_OKTA_DOMAIN}/oauth2/v1/authorize?idp=<idp-id-created-for-tru.ID>
SAMPLE_UI_IAM_TOKEN_URI=https://${SAMPLE_OKTA_DOMAIN}/oauth2/v1/token
SAMPLE_UI_IAM_JWKS_URI=https://${SAMPLE_OKTA_DOMAIN}/oauth2/v1/keys
SAMPLE_UI_IAM_LOGOUT_SUCCESS_URL=${SAMPLE_PUBLIC_URL}/sample-ui